/* === General Table Styles === */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th, td {
    height: 9vh;
    width: 14.28%; 
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td {
    vertical-align: bottom;
}

/* === Day Styles === */
.day {
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.highlighted {
    color: red;
    border-radius: 50%;
    padding: 3px 8px;
    display: inline-block;
}

.day:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

/* === Button Styles === */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-left: 80%;
    width: 20vw;
    height: 52px;
    border-radius: 8px;
    background: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);

    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}

/* === Weather Data Styles === */
.temp {
    font-size: 10px;
    display: inline-block;
    margin-right: 5px;
}

.dayNumber {
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.temp.max-temp, .temp.min-temp, .weatherIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.temp.max-temp {
    left: 0;
}

.temp.min-temp {
    right: 0;
}

.weatherIcon {
    left: 50%;
    transform: translate(-45%, -100%);
}
